body{
  background-size: 100%;
}

body > header{
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: rgb(12, 211, 62);
    font-size: 28pt;
    width: 99%;
    font-family: Calibri;
}

article{
        width: 60%;
        margin: auto;
        border-width: 2px;
        border-color:black;
        border-radius: 15px;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 20px;
        color: white;
}

article > header {
    background: null;
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 5px;
}

#aumentador{
  width: 100%;
  font-size: xx-large;
  background-color: royalblue;
  color: white;
}

.boton{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;

}

#login{
  float: right;
  color: red;
  font-size: xx-large;
  font-family: Calibri;
  margin-right: 32px;
}

.ventalalogin{
  background-color:white;
  width: 35%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  padding: 33px;
  min-height: 400px;
  border-radius: 22px;
  position: absolute;
  left: 34%;
  top: 22%;
  display: none;
}

#cerrar{
  position: absolute;
  right: 4px;
  top: 1px;
}

#Articulo :hover{
  background: black;
  color: white;
}
